*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 20px;
}

.container{
      width: 100%;
      min-height: 100vh; 
      background: #355070;
}

.container h2{
      color: #fff;
      font-size: 40px;
      padding: 50px 0;
      text-align: center;

}

.container h6{
      font-size: 18px;
      margin-top: 5px;
}

.price-row{
      width: 100%;
      max-width: 1100px;
      margin: auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 560px 560px 560px;
      grid-gap: 20px;
      
}

.price-col{
      background: #1f283b;
      padding: 10% 15% ;
      border-radius: 10px;
      color: #fff;
      text-align: center;
}

.price-col p{
      font-size: 40px;
}

.price-col h3{
      font-size: 44px;
      margin: 20px 0 40px;
}

.price-col h3 span{
      font-size: 16px;
}

.price-col ul{
      text-align: left;
      margin: 20px 0;
      color: #ddd;
}

.price-col ul li{
      margin: 15px 0;
      transition: all 0.2s ease;
}

.price-col ul li:hover{
      background: #36454F;
      border-radius: 25px;
      padding: 10px;
}

#col-1{
      background-color:#6d597a;
      
}

#col-2{
      background-color: #b56576;
      
}

#col-3{
      background-color:#e56b6f ;
      
}